[coverage:report]
omit =
    */test_*
    relation_engine_server/api_versions/
    relation_engine_server/exceptions.py
    relation_engine_server/main.py
    relation_engine_server/utils/auth.py
    relation_engine_server/utils/bulk_import.py
    relation_engine_server/utils/parse_json.py