# Environment variables
.env

# Test coverage
/htmlcov/

# Caches and temp dirs
/build/
/dist/
/client_src/dist/
*.pyc
.mypy_cache/
.cache/
/tmp/
coverage_report/
.coverage
*.egg-info/

# Spec archives
spec.tar.gz

# IDEs
/.idea/

# Python virtual environment directory
/venv/