# Environment variables
.env

# Test coverage
/htmlcov/

# Caches and temp dirs
/build/
/dist/
/client_src/dist/
*.pyc
.mypy_cache/
.cache/
/tmp/
coverage_report/
.coverage
.coverage.*
*.egg-info/

# Spec archives
spec.tar.gz

# IDEs
/.idea/
/.vscode/

# Python virtual environment directory
/venv/

# Handy place to stash code out of the codebase
/_attic/