---
name: Run shared workflow
on:
  pull_request:
    branches:
    - develop
    types:
    - opened
    - synchronize
    - ready_for_review

jobs:
  run_important_job:
    uses: kbase/relation_engine/.github/workflows/demo_workflow.yaml
